:root{
    --google-normal: 'Google';
    --google-thin: 'Google-thin';
    --google-light: 'Google-light';
    --google-mid: 'Google-medium';
    --poppins: 'Poppins';
    --outfit: 'Outfit';
    --outfit-mid: 'Outfit-mid';

    --Modal-Backdrop: rgb(0, 0, 0, 0.6);

}

:root {
    --md-sys-color-primary: var(--Primary);
    --md-sys-color-on-primary: var(--On-Primary);
    --md-sys-color-primary-container: var(--Primary-Container);
    --md-sys-color-on-primary-container: var(--On-Primary-Container);
    --md-sys-color-secondary: var(--Secondary);
    --md-sys-color-on-secondary: var(--On-Secondary);
    --md-sys-color-secondary-container: var(--Secondary-Container);
    --md-sys-color-on-secondary-container: var(--On-Secondary-Container);
    --md-sys-color-tertiary: var(--Tertiary);
    --md-sys-color-on-tertiary: var(--On-Tertiary);
    --md-sys-color-tertiary-container: var(--Tertiary-Container);
    --md-sys-color-on-tertiary-container: var(--On-Tertiary-Container);
    --md-sys-color-error: var(--Error);
    --md-sys-color-on-error: var(--On-Error);
    --md-sys-color-error-container: var(--Error-Container);
    --md-sys-color-on-error-container: var(--On-Error-Container);
    --md-sys-color-background: var(--Surface);
    --md-sys-color-on-background: var(--On-Surface);
    --md-sys-color-surface: var(--Surface);
    --md-sys-color-on-surface: var(--On-Surface);
    --md-sys-color-surface-bright: var(--Surface-Bright);
    --md-sys-color-surface-dim: var(--Surface-Dim);
    --md-sys-color-surface-container: var(--Surface-Container);
    --md-sys-color-surface-container-lowest: var(--Surface-Container-Lowest);
    --md-sys-color-surface-container-low: var(--Surface-Container-Low);
    --md-sys-color-surface-container-high: var(--Surface-Container-High);
    --md-sys-color-surface-container-highest: var(--Surface-Container-Highest);
    --md-sys-color-outline: var(--Outline);
    --md-sys-color-outline-variant: var(--Outline-Variant);
    --md-sys-color-on-surface-variant: var(--On-Surface-Variant);
    --md-sys-color-on-background-variant: var(--On-Surface-Variant);
    --md-focus-ring-color: transparent;
    --md-ripple-pressed-opacity: 0.25;
    --md-ripple-hover-opacity: 0;
    --md-ripple-focus-opacity: 1;


    --my-brand-font: var(--outfit);
    --my-headline-font: var(--outfit);
    --my-title-font: var(--outfit);
    --my-plain-font: var(--outfit);

    --md-ref-typeface-brand: var(--outfit);
    --md-ref-typeface-plain: var(--outfit);

    --md-sys-typescale-headline-font: var(--outfit);
    --md-sys-typescale-title-font: var(--outfit);

    --md-icon-button-pressed-state-layer-opacity:  0.25;
    --md-fab-pressed-state-layer-opacity: 0.25;
}


:root {
    --md-switch-focus-handle-color: var(--Outline);
    --md-switch-selected-focus-handle-color: var(--On-Primary);
    --md-switch-selected-hover-handle-color: var(--On-Primary);
    --md-switch-selected-pressed-handle-color: var(--On-Primary);
    --md-switch-pressed-handle-color: var(--Outline);
    --md-switch-hover-handle-color: var(--Outline);
    --md-switch-selected-icon-color: var(--Primary);
    --md-switch-selected-hover-icon-color: var(--Primary);
    --md-switch-selected-focus-icon-color: var(--Primary);
    --md-switch-selected-pressed-icon-color: var(--Primary);
    --md-checkbox-hover-outline-color: var(--On-Surface-Variant);
    --md-checkbox-focus-outline-color: var(--On-Surface-Variant);
    --md-checkbox-pressed-outline-color: var(--On-Surface-Variant);
    --md-list-item-pressed-state-layer-opacity: 0.1;
    --md-list-item-pressed-state-layer-color: var(--On-Surface);
    --md-list-item-label-text-size: 1.125rem;

    --md-list-container-color: transparent;
    --md-menu-item-pressed-state-layer-opacity: 0.1;

    --md-filled-button-pressed-state-layer-opacity: 0.25;
    --md-outlined-button-pressed-state-layer-opacity: 0.25;

    --md-text-button-pressed-state-layer-opacity: 0.25;
    --md-filled-tonal-button-pressed-state-layer-opacity: 0.25;
    --md-elevated-button-pressed-state-layer-opacity: 0.13;

    --md-text-button-label-text-size: 18px;
    --md-filled-button-label-text-size: 18px;
    --md-outlined-button-label-text-size: 18px;
    --md-filled-tonal-button-label-text-size: 18px;
    --md-elevated-button-label-text-size: 18px;


}

[margin]{
    margin-bottom: 10px;
}

[menu-type]{
    --md-menu-item-one-line-container-height: 0px;
    --md-menu-item-label-text-size: 1.125rem;
}

[menu-type-regular]{
    --md-menu-item-one-line-container-height: 0px;
    --md-menu-item-label-text-size: 1.1rem;
}

[large-tab]{
    --md-primary-tab-label-text-size: 1em;
}

[data-theme="light"]{
    --ripple-unbounded: var(--On-Surface);
    --ripple-bounded: black;
    color-scheme: light;

}


[data-theme="dark"]{
    --ripple-unbounded: var(--On-Surface);
    --ripple-bounded: white;
    color-scheme: dark;
}



[data-theme="light"][data-color-theme="Material You (Berry pop blue 44)"] {


  
      --Primary: #0061a4;
      --On-Primary: #ffffff;
      --Primary-Container: #d1e4ff;
      --On-Primary-Container: #194975;
      --Secondary: #416084;
      --On-Secondary: #ffffff;
      --Secondary-Container: #bedaff;
      --On-Secondary-Container: #224365;
      --Tertiary: #873ea4;
      --On-Tertiary: #ffffff;
      --Tertiary-Container: #cd7fea;
      --On-Tertiary-Container: #210030;
      --Error: #ba1a1a;
      --On-Error: #ffffff;
      --Error-Container: #ffdad6;
      --On-Error-Container: #410002;
      --Surface-Dim: #d7dae2;
      --Surface: #f8f9ff;
      --Surface-Bright: #f8f9ff;
      --Surface-Container-Lowest: #ffffff;
      --Surface-Container-Low: #f1f3fc;
      --Surface-Container: #ebeef6;
      --Surface-Container-High: #e5e8f0;
      --Surface-Container-Highest: #dfe2ea;
      --Inverse-Surface: #2d3137;
      --Inverse-On-Surface: #eef1f9;
      --Inverse-Primary: #9ecaff;
      --On-Surface: #181c22;
      --On-Surface-Variant: #404752;
      --Outline: #707883;
      --Outline-Variant: #bfc7d4;
      --Scrim: #000000;
      --Shadow: #000000;
        --scheme: #2196f3;

  
  
  }
  
  [data-theme="dark"][data-color-theme="Material You (Berry pop blue 44)"]{
  
    --Primary: #9ecaff;
    --On-Primary: #003258;
    --Primary-Container: #1c578f;
    --On-Primary-Container: #d1e4ff;
    --Secondary: #a9c9f2;
    --On-Secondary: #0c3253;
    --Secondary-Container: #204163;
    --On-Secondary-Container: #b8d7ff;
    --Tertiary: #ecb1ff;
    --On-Tertiary:#520070 ;
    --Tertiary-Container: #a055bd;
    --On-Tertiary-Container: #ffffff;
    --Error: #ffb4ab;
    --On-Error: #690005;
    --Error-Container: #93000a;
    --On-Error-Container: #ffdad6;
    --Surface-Dim: #0f1419;
    --Surface: #0f1419;
    --Surface-Bright: #353940;
    --Surface-Container-Lowest: #0a0e14;
    --Surface-Container-Low: #181c22;
    --Surface-Container: #1c2026;
    --Surface-Container-High: #262a30;
    --Surface-Container-Highest: #31353b;
    --Inverse-Surface: #dfe2ea;
    --Inverse-On-Surface: #2d3137;
    --Inverse-Primary: #0061a4;
    --On-Surface: #dfe2ea;
    --On-Surface-Variant: #bfc7d4;
    --Outline:#89919d ;
    --Outline-Variant: #404752;
   --scheme: #2196f3;
  

  
  }
  
  /* purple-theme */
  
  [data-theme="light"][data-color-theme="Material You (Raisin purple 100)"] {

  
    --Primary: #5120a1;
    --On-Primary: #ffffff;
    --Primary-Container: #764bc7;
    --On-Primary-Container: #ffffff;
    --Secondary: #675687;
    --On-Secondary: #ffffff;
    --Secondary-Container:#dfccff ;
    --On-Secondary-Container: #473765;
    --Tertiary: #7a0d62;
    --On-Tertiary: #ffffff;
    --Tertiary-Container: #a73989;
    --On-Tertiary-Container: #ffffff;
    --Error: #ba1a1a;
    --On-Error: #ffffff;
    --Error-Container: #ffdad6;
    --On-Error-Container: #410002;
    --Surface-Dim: #dfd7e3;
    --Surface:#fef7ff ;
    --Surface-Bright: #fef7ff;
    --Surface-Container-Lowest: #ffffff;
    --Surface-Container-Low: #f9f1fc;
    --Surface-Container: #f3ebf7;
    --Surface-Container-High: #ede6f1;
    --Surface-Container-Highest: #e7e0eb;
    --Inverse-Surface: #322f37;
    --Inverse-On-Surface: #f6eef9;
    --Inverse-Primary: #d3bbff;
    --On-Surface: #1d1a22;
    --On-Surface-Variant: #4a4453;
    --Outline: #7b7484;
    --Outline-Variant: #ccc3d5;
      --scheme: #673ab7;
  } 
  
  [data-theme="dark"][data-color-theme="Material You (Raisin purple 100)"] {

    --Primary: #d3bbff;
    --On-Primary: #3f008d;
    --Primary-Container: #5e30ae;
    --On-Primary-Container: #f2e7ff;
    --Secondary: #d1bdf5;
    --On-Secondary: #372855;
    --Secondary-Container: #443463;
    --On-Secondary-Container: #dbc7ff;
    --Tertiary: #ffade0;
    --On-Tertiary: #60004c;
    --Tertiary-Container: #8a1f70;
    --On-Tertiary-Container: #ffe5f1;
    --Error: #ffb4ab;
    --On-Error: #690005;
    --Error-Container: #93000a;
    --On-Error-Container: #ffdad6;
    --Surface-Dim: #15121a;
    --Surface: #15121a;
    --Surface-Bright: #3b3840;
    --Surface-Container-Lowest: #100d14;
    --Surface-Container-Low: #1d1a22;
    --Surface-Container: #211e26;
    --Surface-Container-High: #2c2931;
    --Surface-Container-Highest: #37333c;
    --Inverse-Surface: #e7e0eb;
    --Inverse-On-Surface: #322f37;
    --Inverse-Primary: #6f43c0;
    --On-Surface: #e7e0eb;
    --On-Surface-Variant: #ccc3d5;
    --Outline: #958e9e;
    --Outline-Variant: #4a4453;
  
   --scheme: #673ab7;

  
  }
  
  /* yellow */
  
  [data-theme="light"][data-color-theme="Material You (Olive pop green 49)"] {

  
    --Primary: #695f00;
    --On-Primary: #ffffff;
    --Primary-Container: #ffee68;
    --On-Primary-Container: #564e00;
    --Secondary: #675f21;
    --On-Secondary: #ffffff;
    --Secondary-Container: #f1e598;
    --On-Secondary-Container: #50490b;
    --Tertiary: #4c6700;
    --On-Tertiary: #ffffff;
    --Tertiary-Container: #d0fc6b;
    --On-Tertiary-Container: #3e5500;
    --Error: #ba1a1a;
    --On-Error: #ffffff;
    --Error-Container: #ffdad6;
    --On-Error-Container: #410002;
    --Surface-Dim: #dfdac8;
    --Surface: #fff9e8;
    --Surface-Bright: #fff9e8;
    --Surface-Container-Lowest: #ffffff;
    --Surface-Container-Low: #f9f3e1;
    --Surface-Container: #f3eedc;
    --Surface-Container-High: #eee8d6;
    --Surface-Container-Highest: #e8e2d1;
    --Inverse-Surface: #333125;
    --Inverse-On-Surface: #f6f1de;
    --Inverse-Primary: #dbc90a;
    --On-Surface:#1d1c11 ;
    --On-Surface-Variant: #4a4733;
    --Outline: #7c7760;
    --Outline-Variant: #cdc7ac;
      --scheme: #ffeb3b;

  }
  
  [data-theme="dark"][data-color-theme="Material You (Olive pop green 49)"] {

    --Primary: #e0cf33;
    --On-Primary: #363100;
    --Primary-Container: #d6ca48;
    --On-Primary-Container: #1d1900;
    --Secondary: #d3c87e;
    --On-Secondary: #363100;
    --Secondary-Container: #443e00;
    --On-Secondary-Container: #ddd287;
    --Tertiary: #9dde6e;
    --On-Tertiary: #173800;
    --Tertiary-Container: #b8e355;
    --On-Tertiary-Container: #324500;
    --Error: #ffb4ab;
    --On-Error: #690005;
    --Error-Container: #93000a;
    --On-Error-Container: #ffdad6;
    --Surface-Dim: #151409;
    --Surface: #151409;
    --Surface-Bright: #3c392d;
    --Surface-Container-Lowest: #100e05;
    --Surface-Container-Low: #1d1c11;
    --Surface-Container: #222015;
    --Surface-Container-High: #2c2a1f;
    --Surface-Container-Highest: #373529;
    --Inverse-Surface: #e8e2d1;
    --Inverse-On-Surface: #333125;
    --Inverse-Primary: #695f00;
    --On-Surface: #e8e2d1;
    --On-Surface-Variant: #cdc7ac;
    --Outline: #969179;
    --Outline-Variant: #4a4733;
   --scheme: #ffeb3b;

  
  }
  
  /* green */
  
  [data-theme="light"][data-color-theme="Material You (Forest green 33)"] {

  
    --Primary: #006e1c;
    --On-Primary: #ffffff;
    --Primary-Container: #108f32;
    --On-Primary-Container: #ffffff;
    --Secondary: #42673f;
    --On-Secondary: #ffffff;
    --Secondary-Container: #c7f2bf;
    --On-Secondary-Container: #2f532d;
    --Tertiary: #006492;
    --On-Tertiary: #ffffff;
    --Tertiary-Container: #2ab1fa;
    --On-Tertiary-Container: #001f31;
    --Error: #ba1a1a;
    --On-Error: #ffffff;
    --Error-Container: #ffdad6;
    --On-Error-Container: #410002;
    --Surface-Dim: #d6dcd0;
    --Surface: #f5fbef;
    --Surface-Bright: #f5fbef;
    --Surface-Container-Lowest: #ffffff;
    --Surface-Container-Low: #f0f6ea;
    --Surface-Container: #eaf0e4;
    --Surface-Container-High: #e4eade;
    --Surface-Container-Highest: #dee4d9;
    --Inverse-Surface: #2c322a;
    --Inverse-On-Surface: #edf3e7;
    --Inverse-Primary: #78dc77;
    --On-Surface: #171d16;
    --On-Surface-Variant: #3f4a3c;
    --Outline: #6f7a6b;
    --Outline-Variant: #becab9;
      --scheme: #4caf50;

  }
  
  [data-theme="dark"][data-color-theme="Material You (Forest green 33)"] {

  
    --Primary: #78dc77;
    --On-Primary: #00390a;
    /* --Primary-Container: #219626;
    --On-Primary-Container: #000000; */
    --Primary-Container: #006d02;
    --On-Primary-Container: #d9fcd4;
    --Secondary: #a8d1a1;
    --On-Secondary: #143815;
    --Secondary-Container: #224521;
    --On-Secondary-Container: #b2dcab;
    --Tertiary: #8cceff;
    --On-Tertiary: #00344e;
    --Tertiary-Container: #009ce1;
    --On-Tertiary-Container: #000000;
    --Error: #ffb4ab;
    --On-Error: #690005;
    --Error-Container: #93000a;
    --On-Error-Container: #ffdad6;
    --Surface-Dim: #0f150e;
    --Surface: #0f150e;
    --Surface-Bright: #353b33;
    --Surface-Container-Lowest: #0a1009;
    --Surface-Container-Low: #171d16;
    --Surface-Container: #1b211a;
    --Surface-Container-High: #262c24;
    --Surface-Container-Highest: #30362e;
    --Inverse-Surface: #dee4d9;
    --Inverse-On-Surface: #2c322a;
    --Inverse-Primary: #006e1c;
    --On-Surface: #dee4d9;
    --On-Surface-Variant: #becab9;
    --Outline: #899484;
    --Outline-Variant: #3f4a3c;
   --scheme: #4caf50;

  
  }
  
  /* red */
  
  [data-theme="light"][data-color-theme="Material You (Chestnut cool red 122)"] {

  
    --Primary: #942600;
    --On-Primary: #ffffff;
    --Primary-Container: #8b2c0d;
    --On-Primary-Container: #ffe4dd;
    --Secondary: #875040;
    --On-Secondary: #ffffff;
    --Secondary-Container: #ffbeac;
    --On-Secondary-Container: #5d2d1f;
    --Tertiary: #6e5d20;
    --On-Tertiary: #ffffff;
    --Tertiary-Container: #bfaa65;
    --On-Tertiary-Container: #281f00;
    --Error: #ba1a1a;
    --On-Error: #ffffff;
    --Error-Container: #ffdad6;
    --On-Error-Container: #410002;
    --Surface-Dim: #ead6d0;
    --Surface: #fff8f6;
    --Surface-Bright: #fff8f6;
    --Surface-Container-Lowest: #ffffff;
    --Surface-Container-Low: #fff1ed;
    --Surface-Container: #ffe9e4;
    --Surface-Container-High: #f9e4de;
    --Surface-Container-Highest: #f3ded9;
    --Inverse-Surface: #3a2e2a;
    --Inverse-On-Surface: #ffede8;
    --Inverse-Primary: #ffb59f;
    --On-Surface: #241916;
    --On-Surface-Variant: #57423c;
    --Outline: #8a726b;
    --Outline-Variant:#dec0b8 ;
      --scheme: #f44336;
  

  }
  
  [data-theme="dark"][data-color-theme="Material You (Chestnut cool red 122)"] {

    --Primary: #ffb4a9;
    --On-Primary: #690002;
    --Primary-Container: #73342c;
    --On-Primary-Container: #ffdad5;
    --Secondary: #ffb4a9;
    --On-Secondary: #630e0a;
    --Secondary-Container: #5f231b;
    --On-Secondary-Container: #ffdad5;
    --Tertiary: #ffb95d;
    --On-Tertiary: #462a00;
    --Tertiary-Container: #a36800;
    --On-Tertiary-Container: #ffffff;
    --Error: #ffb4ab;
    --On-Error: #690005;
    --Error-Container: #93000a;
    --On-Error-Container: #ffdad6;
    --Surface-Dim: #1e0f0d;
    --Surface: #1e0f0d;
    --Surface-Bright: #483432;
    --Surface-Container-Lowest: #190a08;
    --Surface-Container-Low: #281715;
    --Surface-Container: #2c1b19;
    --Surface-Container-High: #372623;
    --Surface-Container-Highest: #43302d;
    --Inverse-Surface: #fadcd7;
    --Inverse-On-Surface: #3e2c29;
    --Inverse-Primary: #bb1614;
    --On-Surface: #fadcd7;
    --On-Surface-Variant: #e5bdb8;
    --Outline: #ac8884;
    --Outline-Variant: #5c403c;
   --scheme: #f44336;
  

  
  }
  
  
  /* pink */
  
  [data-theme="light"][data-color-theme="Material You (Raspberry pink P99)"] {


    --Primary: #73364b;
    --On-Primary:  #ffffff;
    --Primary-Container: #9d596f;
    --On-Primary-Container: #ffffff;
    --Secondary: #77555f;
    --On-Secondary: #ffffff;
    --Secondary-Container: #ffd8e1;
    --On-Secondary-Container: #5e3f48;
    --Tertiary: #703b0d;
    --On-Tertiary: #ffffff;
    --Tertiary-Container: #9b5e2e;
    --On-Tertiary-Container: #ffffff;
    --Error: #ba1a1a;
    --On-Error: #ffffff;
    --Error-Container: #ffdad6;
    --On-Error-Container: #410002;
    --Surface-Dim: #e4d7d9;
    --Surface: #fff8f8;
    --Surface-Bright: #fff8f8;
    --Surface-Container-Lowest: #ffffff;
    --Surface-Container-Low: #fef0f2;
    --Surface-Container: #f8ebec;
    --Surface-Container-High: #f2e5e7;
    --Surface-Container-Highest: #ecdfe1;
    --Inverse-Surface: #362f30;
    --Inverse-On-Surface: #fbeeef;
    --Inverse-Primary: #ffb1c8;
    --On-Surface: #201a1b;
    --On-Surface-Variant: #524347;
    --Outline: #847377;
    --Outline-Variant: #d6c1c6;
    --Scrim: #000000;
    --Shadow:#000000 ;
    --Top-bar: 255, 217, 226;
    --scheme: #e91e63;
  

  }
  
  [data-theme="dark"][data-color-theme="Material You (Raspberry pink P99)"] {

  
    --Primary: #ffb1c8;
    --On-Primary: #541d32;
    --Primary-Container: #814157;
    --On-Primary-Container: #fff7f7;
    --Secondary: #e6bcc6;
    --On-Secondary: #442831;
    --Secondary-Container: #52353e;
    --On-Secondary-Container: #f1c6d1;
    --Tertiary: #ffb783;
    --On-Tertiary: #4f2500;
    --Tertiary-Container: #7f4719;
    --On-Tertiary-Container: #fff7f4;
    --Error: #ffb4ab;
    --On-Error: #690005;
    --Error-Container: #93000a;
    --On-Error-Container: #ffdad6;
    --Surface-Dim: #181213;
    --Surface: #181213 ;
    --Surface-Bright: #3f3739;
    --Surface-Container-Lowest: #120d0e;
    --Surface-Container-Low: #201a1b;
    --Surface-Container: #241e1f;
    --Surface-Container-High: #2f282a;
    --Surface-Container-Highest: #3a3334;
    --Inverse-Surface: #ecdfe1;
    --Inverse-On-Surface: #362f30;
    --Inverse-Primary: #8c4a60;
    --On-Surface: #ecdfe1;
    --On-Surface-Variant: #d6c1c6;
    --Outline: #9f8c90;
    --Outline-Variant: #524347;
    --Scrim: #000000;
    --Shadow: #000000;

    --scheme: #e91e63;
  

  
  }
  
  /* orange */


  [data-theme="light"][data-color-theme="Material You (Hint orange 33)"] {

  
    --Primary: #684100;
    --On-Primary: #ffffff;
    --Primary-Container: #966316;
    --On-Primary-Container: #ffffff;
    --Secondary: #745a39;
    --On-Secondary: #ffffff;
    --Secondary-Container: #ffdfbb;
    --On-Secondary-Container: #5d4426;
    --Tertiary: #454f00;
    --On-Tertiary: #ffffff;
    --Tertiary-Container: #687425;
    --On-Tertiary-Container: #ffffff;
    --Error: #ba1a1a;
    --On-Error: #ffffff;
    --Error-Container: #ffdad6;
    --On-Error-Container: #410002;
    --Surface-Dim:#e3d8ce ;
    --Surface:#fff8f4 ;
    --Surface-Bright: #fff8f4;
    --Surface-Container-Lowest: #ffffff;
    --Surface-Container-Low: #fef2e8;
    --Surface-Container: #f8ece2;
    --Surface-Container-High: #f2e6dc;
    --Surface-Container-Highest: #ece0d7;
    --Inverse-Surface: #362f29;
    --Inverse-On-Surface: #fbefe5;
    --Inverse-Primary:#fbba67 ;
    --On-Surface: #201b15;
    --On-Surface-Variant: #514538;
    --Outline: #837566;
    --Outline-Variant: #d5c4b2;
    --Scrim: #000000;
    --Shadow: #000000;

   --Top-bar: 255, 223, 187;

   --scheme: #ff5722;

}


[data-theme="dark"][data-color-theme="Material You (Hint orange 33)"] {

    --Primary: #fbba67;
    --On-Primary: #462a00;
    --Primary-Container: #774b00;
    --On-Primary-Container: #fff7f1;
    --Secondary: #e3c199;
    --On-Secondary: #412c10;
    --Secondary-Container: #523b1d;
    --On-Secondary-Container:#f2cfa6 ;
    --Tertiary: #c1ce74;
    --On-Tertiary:#2d3400;
    --Tertiary-Container: #4f5a0b;
    --On-Tertiary-Container: #f4ffb1;
    --Error: #ffb4ab;
    --On-Error: #690005;
    --Error-Container:#93000a ;
    --On-Error-Container:#ffdad6 ;
    --Surface-Dim:#17130d ;
    --Surface: #17130d;
    --Surface-Bright: #3f3831;
    --Surface-Container-Lowest:#120d08 ;
    --Surface-Container-Low: #201b15;
    --Surface-Container: #241f19;
    --Surface-Container-High: #2f2923;
    --Surface-Container-Highest: #3a342d;
    --Inverse-Surface: #ece0d7;
    --Inverse-On-Surface: #362f29;
    --Inverse-Primary: #845403;
    --On-Surface: #ece0d7;
    --On-Surface-Variant:#d5c4b2;
    --Outline: #9d8e7e;
    --Outline-Variant: #514538;
 --Scrim:#000000 ;
 --Shadow: #000000;

 --Top-bar: 82, 59, 29;
 --scheme: #ff5722;


}

/* gray */


[data-theme="light"][data-color-theme="Material You (Deep charcoal 83)"] {

  
    --Primary: #000000;
    --On-Primary: #ffffff;
    --Primary-Container: #262626;
    --On-Primary-Container: #b1b1b1;
    --Secondary: #5e5e5e;
    --On-Secondary: #ffffff;
    --Secondary-Container: #e6e6e6;
    --On-Secondary-Container: #4a4a4a;
    --Tertiary: #000000;
    --On-Tertiary: #ffffff;
    --Tertiary-Container: #262626;
    --On-Tertiary-Container:#b1b1b1 ;
    --Error: #ba1a1a;
    --On-Error: #ffffff;
    --Error-Container:#ffdad6 ;
    --On-Error-Container: #410002;
    --Surface-Dim: #dadada;
    --Surface: #f9f9f9;
    --Surface-Bright: #f9f9f9;
    --Surface-Container-Lowest: #ffffff;
    --Surface-Container-Low: #f3f3f3;
    --Surface-Container: #eeeeee;
    --Surface-Container-High: #e8e8e8;
    --Surface-Container-Highest:#e2e2e2 ;
    --Inverse-Surface:#303030 ;
    --Inverse-On-Surface:#f1f1f1 ;
    --Inverse-Primary: #c6c6c6;
    --On-Surface: #1b1b1b ;
    --On-Surface-Variant: #4c4546;
    --Outline:#7e7576 ;
    --Outline-Variant: #cfc4c5;
    --Scrim: #000000;
    --Shadow: #000000;

    --Top-bar: 230, 230, 230;
    --scheme: #607d8b;

}


[data-theme="dark"][data-color-theme="Material You (Deep charcoal 83)"] {

    --Primary: #c6c6c6;
    --On-Primary: #303030;
    --Primary-Container:#000000 ;
    --On-Primary-Container: #969696;
    --Secondary: #c6c6c6;
    --On-Secondary: #303030;
    --Secondary-Container:#3d3d3d ;
    --On-Secondary-Container: #d1d1d1;
    --Tertiary: #c6c6c6;
    --On-Tertiary: #303030;
    --Tertiary-Container: #000000;
    --On-Tertiary-Container: #969696;
    --Error:#ffb4ab ;
    --On-Error: #690005;
    --Error-Container: #93000a;
    --On-Error-Container: #ffdad6;
    --Surface-Dim:#131313;
    --Surface:#131313 ;
    --Surface-Bright:#393939 ;
    --Surface-Container-Lowest:#0e0e0e ;
    --Surface-Container-Low: #1b1b1b;
    --Surface-Container: #1f1f1f;
    --Surface-Container-High:#2a2a2a ;
    --Surface-Container-Highest: #353535;
    --Inverse-Surface: #e2e2e2;
    --Inverse-On-Surface: #303030;
    --Inverse-Primary:#5e5e5e ;
    --On-Surface: #e2e2e2;
    --On-Surface-Variant: #cfc4c5;
    --Outline:#988e90 ;
    --Outline-Variant: #4c4546;
 --Scrim:#000000 ;
 --Shadow: #000000;

 --Top-bar: 61, 61, 61;

 --scheme: #607d8b;

}


/* Pine green */

[data-theme="light"][data-color-theme="Material You (Pine green P40)"] {

  
    --Primary: #005b51;
    --On-Primary: #ffffff;
    --Primary-Container:#008376 ;
    --On-Primary-Container: #ffffff;
    --Secondary: #3e655f;
    --On-Secondary: #ffffff;
    --Secondary-Container: #c2ede4;
    --On-Secondary-Container: #28504a;
    --Tertiary: #5d418a;
    --On-Tertiary: #ffffff;
    --Tertiary-Container: #8366b1;
    --On-Tertiary-Container: #ffffff;
    --Error: #ba1a1a;
    --On-Error: #ffffff;
    --Error-Container: #ffdad6;
    --On-Error-Container: #410002;
    --Surface-Dim: #d6dbd9;
    --Surface: #f5fbf8;
    --Surface-Bright: #f5fbf8;
    --Surface-Container-Lowest: #ffffff;
    --Surface-Container-Low: #eff5f2;
    --Surface-Container: #eaefec;
    --Surface-Container-High: #e4e9e7;
    --Surface-Container-Highest: #dee4e1;
    --Inverse-Surface: #2c3230;
    --Inverse-On-Surface: #edf2ef;
    --Inverse-Primary: #67d9c8;
    --On-Surface: #171d1b;
    --On-Surface-Variant:#3d4947 ;
    --Outline: #6d7a77;
    --Outline-Variant: #bcc9c6;
   --scheme: #009788;

}


[data-theme="dark"][data-color-theme="Material You (Pine green P40)"] {

    --Primary: #67d9c8;
    --On-Primary: #003731;
    --Primary-Container: #008376;
    --On-Primary-Container: #ffffff;
    --Secondary: #a5cfc6;
    --On-Secondary: #0b3731;
    --Secondary-Container: #1e4640;
    --On-Secondary-Container: #b3ddd4;
    --Tertiary: #d6baff;
    --On-Tertiary: #3d2068;
    --Tertiary-Container: #8366b1;
    --On-Tertiary-Container: #ffffff;
    --Error: #ffb4ab;
    --On-Error: #690005;
    --Error-Container: #93000a;
    --On-Error-Container: #ffdad6;
    --Surface-Dim: #0f1413;
    --Surface: #0f1413;
    --Surface-Bright: #353a39;
    --Surface-Container-Lowest: #0a0f0e;
    --Surface-Container-Low: #171d1b;
    --Surface-Container: #1b211f;
    --Surface-Container-High: #252b2a;
    --Surface-Container-Highest: #303634;
    --Inverse-Surface: #dee4e1;
    --Inverse-On-Surface: #2c3230;
    --Inverse-Primary: #006b60;
    --On-Surface: #dee4e1;
    --On-Surface-Variant: #bcc9c6;
    --Outline: #869390;
    --Outline-Variant: #3d4947;
 --scheme: #009788;

}

  
 